@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-black1: #151515;
  --color-black2: #1c1c1c;
  --color-black3: #000000;
  --color-white1: #eeeeee;
  --color-gray1: #c3c3c3;
  --color-gray2: #434343;
  --color-gray3: #222222;
  --color-gray4: #787878;
  --color-gray5: #d0d0d0;
  --color-blue1: #226cff;
  --color-blue2: #568fff;
  --color-error1: #ef5350;
  --color-error2: #ff2147;
  --color-success: #33c481;
}
